body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

html {
  background: #233145;
  color: white;
}

.rssItem {
  height: 300px;
  width: 12rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
} 

.rssImageHeader {
  height: 33%;
  overflow: hidden;
}

.rssContainer {
  width: 27rem;
  display: flex;
  flex-wrap: wrap;
  height: 650px;
}

.rssImage {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.rssContent {
  height: 66%;
  background: #D0DCDE;
  color: black; 
  border-radius: 0 0 5px 5px;
  padding: 2px 16px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.logoFlex {
  display: flex;
  align-items: center;
}

.revueTitle {
  font-weight: 200;
  font-family: 'Staatliches';
  font-size: 2.5em;
}

.logoImage {
  height: 5rem;
}
